/* это мой адаптивный сайт, попробуемс!!! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /*убрать маркеры у маркированного списка, выст-еся по-ум. */
    text-decoration: none;
    font-family: "Amatic SC", sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;

}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
    background-color: #ffffff;
    color: #24741d;
}

/* .tourism{
    width: 17%;
    display: flex;
    margin-bottom: auto;
    padding-bottom: 4px;
} */

header {
    background-color: #50954651;
    color: rgb(105, 103, 8);
    padding: 20px 0px;
}

.header-container {
    display: flex;
    align-items: center;
    /* должны прописать выравнивание наших элем. по оси перпед.гл. */
    gap: 20%;
}

.header-container h1 {
    font-size: 45px;
}

.learn-language {
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}


.text-content {
    display: flex;
    flex-direction: column;
    width: 47%;
    gap: 36px;
}


.img-tour {
    width: 50%;
    object-fit: cover;
    border-radius: 24px;
}

.header-img h1 {
    font-size: 45px;
    font-weight: bold;
}

.text-content p {
    font-size: 30px;
    color: #538371;
    width: 100%;
}

.text-content a {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    padding: 14px 28px;
    border-radius: 8px;
    background-color: #263238;
    text-decoration: 0;
    align-self: flex-start;
}

.skills {
    padding-top: 50px;
    padding-bottom: 50px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.skills h2 {
    font-size: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.item {
    background-color: #f5f5f5;
    background-repeat: 5px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* .item img {
    width: 100%;
} */

.item img {
    width: 100%;
    object-fit: cover;
    border-start-end-radius: 19px;
    border-bottom-left-radius: 8px;
    /* min-width: 100%; */
}

.item-4 img {
    width: 50%;
    object-fit: cover;
    /* border-radius: 15px; */
    border-end-end-radius: 19px;
    /* max-width: 800px; */
}

@media (min-width: 1024px) {
    .img {
        /* max-width: 800px; */
        /* min-width: 800px; */
        /* тут для огранич на больших экранах */
        margin: 0 auto;
    }
}

.item-1 {
    grid-column: 1/2;
    grid-row: 1/4;
}

.item-2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.item-3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.item-4 {
    grid-column: 2/4;
    grid-row: 3/4;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.item-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item-text h3 {
    font-size: 35px;
}

.item-text p {
    font-size: 25px;
    color: #5c5959;
}

.item-text a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 8px;
    background-color: #263238;
    align-self: flex-start;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.intro h2 {
    font-size: 40px;
    text-align: center;
}

.intro p {
    font-size: 30px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    padding: 42px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px black;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* min-width: 182px; */
    min-width: 400px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 16px;
    /* height: 100px; */
}

.card h3 {
    font-size: 32px;
}

footer {
    background-color: #333;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
}

footer a {
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    /*зафиксируем -гарантия оттступа */
}

.footer-links {
    display: flex;
    gap: 28px;
}

@media screen and(max-width: 1785px) {
    footer {
        font-size: 20px;
    }

    .footer-container {
        gap: 47px;
        /*зафиксируем -гарантия оттступа */
    }

    .footer-links {
        gap: 24px;
    }
}

@media screen and (max-width: 1560px) {

    .wrapper {
        width: 90%;
    }

    .header-container {
        /* gap: 20%; убираем чтобы был запас на ум. ширины вьюпорт*/
        justify-content: space-between;
        /* дл.т.чтобы запас по шиирне меж нашми флекс элементами.*/
    }

    .header-container h1 {
        font-size: 44px;
    }

    nav ul {
        gap: 24px;
    }

    nav a {
        font-size: 29px;
        color: #24741d;
    }

    .intro h2 {
        font-size: 36px;
    }

    .card h3 {
        font-size: 28px;
    }

    .intro {
        padding-bottom: 30px;
    }

    .cards {
        padding-top: 30px;
        justify-content: space-around;
        flex-wrap: wrap;
        /* перемещение друг под друга */
    }

    .card {
        padding: 32px;
        max-width: 400px;
        /* чтобы врап норм работал надо поставить мах ширину */

    }

}

@media screen and (max-width: 1314px) {
    footer {
        font-size: 20px;
    }

    .footer-container {
        align-items: center;
        gap: 47px;
    }

    .footer-links {
        flex-direction: column;
        gap: 24px;
        align-items: end;
    }
}